.main-wrapper {
    background-color: brown;
}

.header {
    display: block;
    padding: 20px 0px 0px 30px;
    text-align: center;
}

.nav-sections {
    background-color: black;
    margin: 0px 20px 0px 20px;
    text-align: center;
}

.nav-list {
    list-style: none;
}

.nav-section {
    display: inline-block;
    margin: auto;
}
.nav-list img {
    width: 150px;
    height: 100px;
}
figcaption {
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: 15% auto 20%;
}
